## Session 1 - 22 Feb 2022
LWirjowerdojo - PYTN071ONL010

# Basic Python - Data Types
Simple Data Types
1. Integer <class 'int'> 
2. Float <class 'float'>
3. String
4. Boolean

Structure Data Types
1. List
2. Tuples
3. 
4. 

Markdown guide: https://www.markdownguide.org/basic-syntax/

## Integer

In [16]:
new=81273

In [11]:
#integer
print(new)

81273

In [6]:
print(type(new))

<class 'int'>

## Float

In [9]:
#float
f=1.0
print(1.0)

1.0

In [8]:
print(type(f))

<class 'float'>

In [14]:
# print & display commands - to display, otherwise it will only display/print the last line
1
4
83
12
print(54)
display(6)
92

54

6

92

## String
Use "" or '' 
To use the '' inside the word/sentence, use \ before the symbol

In [18]:
new="aisojasn"

In [19]:
print(new)

aisojasn

In [21]:
# using \
ex='aren\'t you sleepy?'

In [22]:
print(ex)

aren't you sleepy?

## Boolean
True or False

In [23]:
print(True)

True

In [24]:
print(False)

False

In [25]:
print(type(True))

<class 'bool'>

Convert data types

In [ ]:
#integer to float, boolean and string
float(15)

15.0

In [28]:
bool(15)

True

In [29]:
print(str(15))

15

In [34]:
# string to float, boolean, and int (exception applies to string that only contains alphabets)

In [37]:
exm="andi"
int(exm)

ValueError: invalid literal for int() with base 10: 'andi'

In [38]:
example=22
bool(example)

True

## Python already have a set of standard that falls into the True or False category. It's easier to start from the things that what Python assumes as false
Integer 0
""
''

## Variable
Storing data with name
Rules:
- not using space, space is replaced by _ (snake_case rule type); other cases:
    - camelCase - capital on the word after the supposed space > function
    - PascalCase - start with capital > class
    - kebab-case - use hyphen (-) > not used
    - snake_case - use _ > variable
- can't start with a number
- capitalisation affects the variable (two are different), must be consistent throughout

In [39]:
# assign string "Selamat malam" to a variable
# variable assignment
message = "Selamat malam"

In [40]:
print(message)

Selamat malam

In [42]:
# example on the capitalisation
age=12
Age=15
AGe=18
agE=20
print(age, Age, AGe, agE)

12 15 18 20

In [43]:
# variable can be reassigned
print(message)

Selamat malam

In [44]:
message=("Hello")
print(message)

Hello

In [46]:
# variable does NOT have a data type
message=13
message=12.5
message=False
print(False)

False

## Operations
Manipulate data
- Operator & expression 
    - \+ \- \* \/ \% \**
    - comparison \> \< \>\= \<\= \=\= \!\=
    - in
- Built-in functions
    - change case (capitalisation - all caps/all lowercases)

In [47]:
a=5
b=6

c=a+b
print("The sum of", a, "and", b, "is", c)

The sum of 5 and 6 is 11

In [48]:
# modulo - the remainder of the division
print(5/3)
print(5%3)

1.6666666666666667
2

In [50]:
d = 5**6
print(a, "to the power of", b, "is", c)

5 to the power of 6 is 11

In [52]:
# comparison
a = 7
b = 10
print(a<b)
print(a>b)

print(a<=b)
print(a>=b)

print(a ==b)
print(a!=b)

True
False
True
False
False
True

In [57]:
if a>b:
    print("a is bigger than b")
else:
    print("a is smaller than b")

a is smaller than b

## String manipulation
Reference: https://www.w3schools.com/python/

In [58]:
message

False

In [59]:
message="Hello"

In [62]:
message + " Jakarta" # string addition works, does NOT work if combining integer/float

'Hello Jakarta'

In [65]:
weather=28
print(message + " Jakarta! Today is " + str(weather) + "C")

Hello Jakarta! Today is 28C

In [66]:
print(message + " Jakarta! Today is " + weather + "C") # does not work if weather is NOT recognised as string

TypeError: can only concatenate str (not "int") to str

In [68]:
# in
# is there "llo" in the message variable?
"llo" in message

True

In [75]:
# String conversion
message="Hello~ 123"

# upper
print(message.upper())

# lower
print(message.lower())

# title
print(message.title())

# swap case
print(message.swapcase())

# capitalise
print(message.capitalize())

HELLO~ 123
hello~ 123
Hello~ 123
hELLO~ 123
Hello~ 123

In [77]:
# checking if a word exists within a variable without the cases
"hel".lower() in message.lower()

True

## Lists
A set of data:
- []
- lot of data within a list
- data types can be >1
- indexed data

In [128]:
# buah
fruit=['Orange', 'Mango', 'Coconut']

In [79]:
print(fruit)

['Orange', 'Mango', 'Coconut']

In [80]:
print(type(fruit))

<class 'list'>

In [81]:
# can be converted to string / boolean
print(bool(fruit))
print(str(fruit))

True
['Orange', 'Mango', 'Coconut']

In [86]:
# Index starts from 0 (forward), -1 (reverse)
# forward
test=fruit[0]
print(test)

# reverse
test=fruit[-3]
print(test)

Orange
Orange

In [92]:
## Slicing - taking few items at once
# example - taking [0 and 1]; [initial: how many numbers]; take all [:]
# forward
newtest=fruit[0:2]
print(newtest)

# OR

newtest=fruit[:2]
print(newtest)

# reverse
newtest=fruit[-2:]
print(newtest)

['Orange', 'Mango']
['Orange', 'Mango']
['Mango', 'Coconut']

In [94]:
## Concatenation and replication
# + and * a list
print(fruit)

['Orange', 'Mango', 'Coconut']

In [95]:
print(fruit + ['Apple', 'Pear'])

['Orange', 'Mango', 'Coconut', 'Apple', 'Pear']

In [96]:
print(fruit*3)

['Orange', 'Mango', 'Coconut', 'Orange', 'Mango', 'Coconut', 'Orange', 'Mango', 'Coconut']

### Built in functionality
- Len - length of the list
- Min - min. item (string - based on the alphabet)
- Max - max. item

In [97]:
print(fruit)
print(len(fruit))
print(min(fruit))
print(max(fruit))

['Orange', 'Mango', 'Coconut']
3
Coconut
Orange

In [98]:
fruit.sort()

In [101]:
numbers=[12,346,8,20,1]
print(len(numbers))
print(min(numbers))
print(max(numbers))

5
1
346

In [129]:
# Updating values of the list
print(fruit)

['Orange', 'Mango', 'Coconut']

In [130]:
fruit=fruit+ ["Dragon Fruit", "Melon"]
print(fruit)

['Orange', 'Mango', 'Coconut', 'Dragon Fruit', 'Melon']

In [142]:
# change Orange and Mango to pineapple
fruit[:2]=["Pineapple"]
print(fruit)
"Dragon Fruit" in fruit # checking if dragon fruit exists within the fruit list

['Pineapple', 'Dragon Fruit', 'Melon', 'Cucumber', 'Cucumber', ['Cucumber']]

True

In [134]:
# remove, append, add
fruit2=fruit.append(["Cucumber"])
print(fruit2)

None

## Tuple
- similar to list
- use ()
- items within tuple CANNOT be changed

In [138]:
score=(50, 59, 70, 100)
print(score)

(50, 59, 70, 100)

In [139]:
print(type(score))

<class 'tuple'>

In [141]:
# to append in tuple, must be converted to list, then convert back to tuple
tuple(list(score)+[82])

(50, 59, 70, 100, 82)

In [144]:
# indexing applies
score_1 = score[0]
print(score_1)

50

In [145]:
# reassigning also does NOT work

### Packing and unpacking for list and tuple

In [146]:
Fruit=["Apple", "Banana", "Cucumber"]
a, b, c = Fruit

print(a)
print(b)
print(c)

Apple
Banana
Cucumber

In [147]:
score

(50, 59, 70, 100)

In [148]:
A, B, C, D = score

In [149]:
print(score[0])

50

In [150]:
print(A)

50

## Dictionary
- use {}
- comes in pair
- reference point of real world to computer (atribute, value and key-value)
- key: string
- value can be anything
- does NOT contain index (index = key)

In [2]:
A={"name": "A", 
   "age": 24,
   "hobbies": ["sleeping", "programming"]
  }
print(A)

{'name': 'A', 'age': 24, 'hobbies': ['sleeping', 'programming']}

In [159]:
# TO READ
# as there is no index available, to read, we must use KEY
# example: hobby
A['hobbies']

['sleeping', 'programming']

In [160]:
A['hobbies'][0] # to read the first hobby

'sleeping'

In [161]:
# change A's age 
A['age']=32
print(A)

{'name': 'A', 'age': 32, 'hobbies': ['sleeping', 'programming']}

In [162]:
# to add item in the dictionary
print(A)
A['student ID']="PYTN071_S01"

print(A)

{'name': 'A', 'age': 32, 'hobbies': ['sleeping', 'programming']}
{'name': 'A', 'age': 32, 'hobbies': ['sleeping', 'programming'], 'student ID': 'PYTN071_S01'}

In [164]:
# create a new dictionary
b = {}
b['name']="B"
b['age']=38
b['hobbies']=["baking", "listening to music"]
print(b)

{'name': 'B', 'age': 38, 'hobbies': ['baking', 'listening to music']}

### To list dictionary keys, items and values

In [3]:
A.keys()

dict_keys(['name', 'age', 'hobbies'])

In [4]:
A.values()

dict_values(['A', 24, ['sleeping', 'programming']])

In [5]:
A.items()

dict_items([('name', 'A'), ('age', 24), ('hobbies', ['sleeping', 'programming'])])

In [168]:
b.keys()

dict_keys(['name', 'age', 'hobbies'])

In [172]:
len(b)

3

In [173]:
len(A)

4

# Practice:
- Anaconda installation
- Create python notebook
- Create variables for different types of data
    - int
    - float
    - string
    - bool
    - list
    - tuple
    - dict
- Create github acc
- Install github