## Session 2 - 24 Feb 2022
LWirjowerdojo - PYTN071ONL010

# Condition
Using if function to get true or false
- If
- While

### If statement
if (expression):
    command code (could be >1 line)

In [1]:
# Is there an apple on this list
fruit=['apple','mango']
'apple' in fruit

True

In [2]:
# Using if function
if ('apple' in fruit):
    print("Apple is on the list")

Apple is on the list

In [4]:
# Using if function
item='banana'
if ('item' in fruit):
    print(item +" is on the list")
else:
    print(item + " is NOT on the list")

banana is NOT on the list

In [5]:
# value check
a=10
if (a):
    print(a)

10

## Else statement
Shall the if condition is false, other command will proceed

In [7]:
money = 20000
price = 50000

if (money>=price):
    print("Sufficient")
    print("Pay")
    change=price-money
    print("Change:", change)
else:
    print("Insufficient")
    need=price-money
    print("Need: ", need)

Insufficient
Need:  30000

In [12]:
score=75

if score == 100:
    print("You get an A")
else:
    # 90 - 99 -> B
    if score <= 99 & score >= 90:
        print("You get B")
    else:
        # 50 - 90 -> C
        if score >=50 & score <90:
            print("You get C")
        else:
            if score <50:
                print("You get D")

You get C

### Elif
- Combination of else and if, if the first statement is false, we check the elif(s)
- Recommended to be used only for a single theme (example below is grading system)

In [26]:
score = 50
if score == 100:
    print("You get an A!")
elif score <= 99 & score>=90:
    print("You get B")
elif (score <90) & (score >=50):
    print("You get C")
else:
    print("You get D")

You get C

In [20]:
# Age check
# Money check
age=20
balance=200000
price=200000

if(age >= 17):
    print("Old enough to buy the ticket")
    if (balance >= price):
        print("You may buy the ticket")
    else:
        print("Insufficient balance")
else:
    print("Not old enough")

Old enough to buy the ticket
You may buy the ticket

In [28]:
# Alternative
age=20
balance=200000
price=200000

if (age>=17) & (balance>=price):
    print("You may buy the ticket")
elif (age<17) & (balance>=price):
    print("You are not old enough")
elif (age>17) & (balance<price):
    print("You don't have enough money")
else:
    print("You are not old enough and don't have enough money")

You may buy the ticket

### One line if statement

In [30]:
name="Susan"
if (name=="Susan"):
    print("Hi, ", name)

Hi,  Susan !

In [31]:
name="Susan"
if (name=="Susan"):
    print("Hi, ", name)
    print("Good morning!")

Hi,  Susan
Good morning!

In [32]:
# Alternative
if (name=="Susan"): print("Hi ", name); print("Good morning!")

Hi  Susan
Good morning!

In [33]:
name="Susan"
if (name=="Susan"):
    print("Hi, ", name)
elif (name=="Andi"):
    print("Hey!")
else:
    print("Morning!")

Hi,  Susan

In [36]:
# One line
name="Andi"
if (name=="Susan"): print("Hi, ", name)
elif (name=="Andi"): print("Hey!")
else: print("Morning!")

Hey!

### Ternary - simple if function (one line)

In [38]:
# If it rains, we have to bring an umbrella, otherwise we don't have to
weather="rain"
if (weather=="rain"):
    print("bring umbrella")
else:
    print("don't need an umbrella")

bring umbrella

In [41]:
# Ternary version
print("bring the umbrella" if weather=="rain" else "no need for an umbrella")
# left = if the statement is true, otherwise right expression is chosen

bring the umbrella

In [42]:
# Ternary - variable version
result= "bring the umbrella" if weather=="rain" else "no need for an umbrella"

In [49]:
score = 95
grade="A" if score == 100 else ("B" if (score <= 99) & (score >90) else ("C" if (score >= 50) & (score <90) else "D"))
print(grade)

B

In [43]:
result

'bring the umbrella'

### Pass statement
If we create an if statement/loop, but haven't decided on what to do next

In [44]:
# When the weather is good, we would want to do something
if (weather == "sunny"):
    pass
elif (weather == "rain"):
    pass
else:
    print("natural disaster occurs")

## Practice
- Diberikan 2 variable, tinggi dan uang
- Buat statement utk orang tersebut bisa naik roller coaster/tidak
- Tinggi minimal 120
- Uang minimal 30000

In [53]:
tinggi=100
uang=18000

if (tinggi>=120) & (uang>=30000):
    print("bisa naik roller coaster")
elif (tinggi<120) & (uang>=30000):
    print("tidak bisa naik roller coaster karena tinggi kurang")
elif (tinggi>=120) & (uang<30000):
    print("tidak bisa naik roller coaster karena uang tidak cukup")
else:
    print("tidak bisa naik roller coaster karena tinggi dan uang tidak cukup")

tidak bisa naik roller coaster karena tinggi dan uang tidak cukup

In [55]:
# Alternative
# requirement
minheight=120
fee=30000

# condition
height=150
money=25000

if (height>=minheight):
    print("height is sufficient")
    
    if(money>=fee):
        print("you may ride the roller coaster")
    else:
        print("but you don't have enough money to ride")
else:
    print("height is not sufficient")

height is sufficient
but you don't have enough money to ride

### Iteration

In [56]:
clotheslist=["red dress", "yellow tshirt", "blue jeans"]

# for every clothes within the list
for clothes in clotheslist:
    print(clothes)

red dress
yellow tshirt
blue jeans

### When using WHILE loop, ensure that the condition will yield to a false condition (must be within the while loop)

In [59]:
# if height is below the min. height 
height = 115
while (height <120):
    print("can't ride the roller coaster")
    height = 120
print("outside of loop")

can't ride the roller coaster
outside of loop

In [61]:
counter=1
while (counter<=10):
    print(counter)
    counter=counter+1

1
2
3
4
5
6
7
8
9
10

In [65]:
# Alternative
counter=1
while (counter<=10):
    print(counter)
    counter+=2 #ALternative to add the number

1
3
5
7
9

## For
- list
- tuple
- dictionary
- range
-

### Break and continue
- break - to stop the loop
- continue - to continue the loop

In [68]:
# from 1-10, 7 will be skipped
counter = 0
while(counter < 10):
    counter+=1
    if (counter==7):
        continue
    print(counter)

1
2
3
4
5
6
8
9
10

In [77]:
# from 1-10, 5 will be stopped
number=1
while (number<10):
    number+=1
    if(counter==5):
        break
    print(number)

2
3
4
5
6
7
8
9
10

In [74]:
counter =1
while (counter<=10):
    print(counter)
    counter+=1
else:
    print(counter<=10)
    print("Goes beyond the value,", counter)

1
2
3
4
5
6
7
8
9
10
False
Goes beyond the value, 11

### Nested
- nested if
- nested loop

In [80]:
n = 100
if (n>10):
    if (n>20):
        print("above 20")
    print("but above 10")

above 20
but above 10

In [82]:
n = 100
while (n>10):
    print("but above 10", n)
    n-=10
    while (n>20):
        print("above 20", n)
        n-=20

but above 10 100
above 20 90
above 20 70
above 20 50
above 20 30

### One line while loop

In [83]:
counter =1
while (counter<=10): print(counter); counter+=1

1
2
3
4
5
6
7
8
9
10

In [84]:
randomlist=["a", 123, 21.3, True, []]
for item in randomlist:
    print(item)

a
123
21.3
True
[]

In [89]:
# tuple
tuple_val=(12, 45, 76, 90)

for value in tuple_val:
    print(value)

12
45
76
90

In [98]:
# dictionary
A={"name": "A", 
   "age": 24,
   "hobbies": ["sleeping", "programming"]
  }
for attribute in A.keys(): # to print the key(s)
    print(attribute)

name
age
hobbies

In [101]:
for val in A.values(): # to print the values
    print(val)

A
24
['sleeping', 'programming']

In [102]:
for item in A.items(): # to print the items
    print(item)

('name', 'A')
('age', 24)
('hobbies', ['sleeping', 'programming'])

In [112]:
A={"name": "A", 
   "age": 24,
   "hobbies": ["sleeping", "programming"]
  }
for key in A.keys():
    print(key, "is", A[key])

name is A
age is 24
hobbies is ['sleeping', 'programming']

### Range
numbers in order

In [113]:
# create a range of 10 numbers
range(10)

range(0, 10)

In [114]:
for no in range(10): # value up to 10
    print(no)

0
1
2
3
4
5
6
7
8
9

In [117]:
# alternative
range(75,101)

range(75, 101)

In [119]:
for ran in range(75,101):
    print(ran)

75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [122]:
# within range, the step can be >1
# example: even number within 1-100 (up to 99)
range(2,100,2)

range(2, 100, 2)

In [121]:
range

range

In [123]:
for r in range(2,100,2):
    print(r)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [125]:
# multiplication of from 25 to 60
for a in range(25, 60, 5):
    print(a)

25
30
35
40
45
50
55

In [127]:
# reversed order
for a in range(3,0,-1):
    print(a)

3
2
1

### String loop

In [128]:
msg="I love Python!"
# print every character
for k in msg:
    print(k)

I

l
o
v
e

P
y
t
h
o
n
!

In [134]:
# if we encounter P, print "ping!"
for k in msg:
    if (k=="P"):
        print("ping!")
        continue
    print(k)

I

l
o
v
e

ping!
y
t
h
o
n
!

In [135]:
# if we encounter P, print "ping!"
for k in msg:
    print(k)
    if (k=="P"):
        print("ping!")

I

l
o
v
e

P
ping!
y
t
h
o
n
!

### Input
ask for an input

In [136]:
input()

 hai

'hai'

In [138]:
# asking for an input to a loop
n = 0
while (n<3):
    input()
    n +=1

 as
 sf
 ck

In [139]:
# asking for an input to a loop
n = 0
while (n<3):
    msg=input("Kindly input a value for the " + str(n)+ "th iteration")
    print(msg)
    n +=1

Kindly input a value for the 0th iteration 2

2

Kindly input a value for the 1th iteration 4

4

Kindly input a value for the 2th iteration 5

5

In [141]:
n=0
msg=""
while (msg != "stop"):
    msg=input("Please input a message").lower()

Please input a message STO
Please input a message STOP

Practice:
- diberikan sebuah list buah2an 
- beli buah 1
- buah favorit 2
- print apa saja yang dibeli

In [164]:
list_buah=["watermelon", "pineapple", "mango", "banana"]
count=0

for buah in list_buah:
    if buah == "mango":
        print("Beli", buah, "sebanyak 2")
        count+=2
        continue
    print("Beli", buah, "sebanyak 1")
    count+=1
    
print("Total buah yang dibeli =", count)

Beli watermelon sebanyak 1
Beli pineapple sebanyak 1
Beli mango sebanyak 2
Beli banana sebanyak 1
Total buah yang dibeli = 5

In [169]:
list_buah=["watermelon", "pineapple", "mango", "banana"]
buahfav="mango"
count=0

for buah in list_buah:
    if (buahfav == buah):
        print("Beli", buah, "sebanyak 2")
        count+=2
        continue
    print("Beli", buah, "sebanyak 1")
    count+=1
    
print("Total buah yang dibeli =", count)

Beli watermelon sebanyak 1
Beli pineapple sebanyak 1
Beli mango sebanyak 2
Beli banana sebanyak 1
Total buah yang dibeli = 5

In [19]:
listbuah=["jambu", "mangga", "salak", "apel", "nanas"]
buahfav="apel"
n=0

while n < len(listbuah):
    if buahfav == listbuah[n]:
        print("beli 2", listbuah[n])
        n+=1
    else:
        print("beli 1", listbuah[n])
        n+=1

beli 1 jambu
beli 1 mangga
beli 1 salak
beli 2 apel
beli 1 nanas